window#osd {
	border-radius: 5px;
	border: 2px solid #9b00bb;
	background: #282c34;
}

window#osd #container {
	margin: 5px;
}

window#osd progressbar:disabled,
window#osd image:disabled {
	opacity: 0.5;
}

window#osd progressbar {
	min-height: 6px;
	border-radius: 5px;
	color: #df0055;
}

window#osd progress {
	background: #df0055;
}
